.idea/
Asteroids_clone/bin/Debug/Asteroids_clone.exe
Asteroids_clone/bin/
Asteroids_clone/obj/
packages/
Asteroids.Engine/obj/
Asteroids.Entities/bin/
Asteroids.Entities/obj/
Asteroids.Renderer/bin/
Asteroids.Renderer/obj/
